choice
	prompt "device"
	depends on DEVICE
	default DEVICE_KEYBOARD

	menuconfig DEVICE_DYNAMIC
		bool "dynamic"
		orsource "./dynamic/Kconfig"
		# help
		# 	[uart] & [sle_s] & [wifi]
		# 	[knob] & [nfc] & [指]

	menuconfig DEVICE_HEALTH
		bool "health"
		orsource "./health/Kconfig"
		# help
		# 	[uart] & [i2c] & [wifi]
		# 	[心] & [温] & [距]

	config DEVICE_KEYBOARD
		bool "keyboard"
		select COMM_FORMAT_HID
		select COMM_SPI
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_SERVER
		help
			[spi] & [uart] & [sle_s]

	config DEVICE_KEYPAD
		bool "keypad"
		select COMM_FORMAT_HID
		select COMM_SPI
		select COMM_UART
		select COMM_SLE		# PIN_ID 待定
		select COMM_SLE_SERVER
		help
			[spi] & [uart] & [sle_s]

	config DEVICE_MOUSE
		bool "mouse"
		select COMM_FORMAT_HID
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_SERVER
		help
			[uart] & [sle_s]

	config DEVICE_RECEIVER
		bool "receiver"
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_CLIENT
		select COMM_WIFI
		help
			[uart] & [sle_c]

	menuconfig DEVICE_TRINITY
		bool "trinity"
		orsource "./trinity/Kconfig"
		# help
		# 	[uart] & [sle_s]
		# 	[usb-hub] & [音响] & [vfd]
endchoice
