choice
	prompt "device"
	depends on DEVICE
	default DEVICE_KEYBOARD

	menuconfig DEVICE_DYNAMIC
		bool "dynamic"
		orsource "./dynamic/Kconfig"
		# help
		# 	[usrt] & [sle_s] & [wifi_c]
		# 	[knob] & [nfc] & [指]

	menuconfig DEVICE_HEALTH
		bool "health"
		orsource "./health/Kconfig"
		# help
		# 	[usrt] & [i2c] & [wifi_c]
		# 	[心] & [温] & [距]

	config DEVICE_KEYBOARD
		bool "keyboard"
		select COMM_SPI
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_SERVER
		select COMM_FORMAT_HID
		help
			[i2s] & [usrt] & [sle_s]

	config DEVICE_KEYPAD
		bool "keypad"
		select COMM_SPI
		select COMM_UART
		select COMM_SLE		# PIN_ID 待定
		select COMM_SLE_SERVER
		select COMM_FORMAT_HID
		help
			[i2s] & [usrt] & [sle_s]

	config DEVICE_LAMP
		bool "lamp"
		select COMM_UART	# 待定
		select COMM_SLE
		select COMM_SLE_SERVER
		select COMM_FORMAT_CTRL
		help
			[usrt] & [sle_s]

	config DEVICE_MOUSE
		bool "mouse"
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_SERVER
		select COMM_FORMAT_HID
		help
			[usrt] & [sle_s]

	config DEVICE_UNION
		bool "union"
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_CLIENT
		# select 待定
		select COMM_FORMAT_CTRL
		help
			[usrt] & [sle_c]
			[接收器] & [usb-hub] & [音响]
endchoice
