if TEST_TMPTEST
	config TEST_TMPTEST_RECEIVER
		bool "receiver (sle_server test)"
		default y
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_SERVER

	config TEST_TMPTEST_MULTI_THREAD
		bool "multi_thread"
		default n
		select COMM_UART
endif
