maker-desktop/host/backend/config/key.py
maker-desktop/host/backend/database/
!maker-desktop/host/backend/database/back.db
maker-desktop/host/backend/file/
node_modules
__pycache__


/demo


/_tmp


/wifi
/peripheral
/products


# .vscode : 备份
