#===============================================================================
# @brief    Kconfig file.
# Copyright (c) @CompanyNameMagicTag 2023-2023. All rights reserved.
#===============================================================================

config ENABLE_KEYBOARD_SAMPLE
    bool "Enable the Sample of keyboard."
    default y
    depends on SAMPLE_ENABLE
    help This option means enable the sample of keyboard.
if ENABLE_KEYBOARD_SAMPLE
    osource "application/samples/keyboard/Kconfig"
endif

config ENABLE_KEYPAD_SAMPLE
    bool "Enable the Sample of keypad."
    default n
    depends on SAMPLE_ENABLE
    help This option means enable the sample of keypad.
if ENABLE_KEYPAD_SAMPLE
    osource "application/samples/keypad/Kconfig"
endif



config ENABLE_PERIPHERAL_SAMPLE
    bool
    prompt "Enable the Sample of peripheral."
    default n
    depends on SAMPLE_ENABLE
    help
        This option means enable the sample of peripheral.

if ENABLE_PERIPHERAL_SAMPLE
osource "application/samples/peripheral/Kconfig"
endif

config ENABLE_WIFI_SAMPLE
    bool
    prompt "Enable the Sample of WIFI."
    default n
    depends on SAMPLE_ENABLE
    help
        This option means enable the sample of WIFI.

if ENABLE_WIFI_SAMPLE
osource "application/samples/wifi/Kconfig"
endif

config ENABLE_PRODUCTS_SAMPLE
    bool
    prompt "Enable the Sample of products."
    default n
    depends on SAMPLE_ENABLE
    help
        This option means enable the sample of products.

if ENABLE_PRODUCTS_SAMPLE
osource "application/samples/products/Kconfig"
endif

config ENABLE_TMP_SAMPLE
    bool
    prompt "Enable the Sample of TMP."
    default n
    depends on SAMPLE_ENABLE
    help
        This option means enable the sample of TMP.

if ENABLE_TMP_SAMPLE
osource "application/samples/tmp/Kconfig"
endif
