config ENABLE_MAKER_DESKTOP_SAMPLE
    bool "Enable the Sample of maker-desktop"
    default y
    depends on SAMPLE_ENABLE
if ENABLE_MAKER_DESKTOP_SAMPLE
    orsource "./maker-desktop/Kconfig"
endif

config ENABLE_USB-UART_SAMPLE
    bool
    prompt "Enable the Sample of USB-UART."
    default n
    depends on SAMPLE_ENABLE
    help
        This option means enable the sample of USB-UART.

if ENABLE_USB-UART_SAMPLE
    orsource "./usb-uart/Kconfig"
endif





config ENABLE_PERIPHERAL_SAMPLE
    bool
    prompt "Enable the Sample of peripheral."
    default n
    depends on SAMPLE_ENABLE
    help
        This option means enable the sample of peripheral.

if ENABLE_PERIPHERAL_SAMPLE
    osource "application/samples/peripheral/Kconfig"
endif

config ENABLE_WIFI_SAMPLE
    bool
    prompt "Enable the Sample of WIFI."
    default n
    depends on SAMPLE_ENABLE
    help
        This option means enable the sample of WIFI.

if ENABLE_WIFI_SAMPLE
    osource "application/samples/wifi/Kconfig"
endif

config ENABLE_PRODUCTS_SAMPLE
    bool
    prompt "Enable the Sample of products."
    default n
    depends on SAMPLE_ENABLE
    help
        This option means enable the sample of products.

if ENABLE_PRODUCTS_SAMPLE
    osource "application/samples/products/Kconfig"
endif
