
choice
    prompt "health"
    depends on HEALTH
    default HEALTH_FINGERPRINT


    config HEALTH_FINGERPRINT
        bool "fingerprint"
        select COMM_FORMAT_CUSTOM
        select COMM_UART
        select COMM_WIFI


    menuconfig HEALTH_OTHERS
        bool "others"

		if HEALTH_OTHERS
			config HEALTH_DISTANCE
				bool "distance"
				select COMM_FORMAT_CUSTOM
				select COMM_I2C
				select COMM_WIFI
			config HEALTH_HEART
				bool "heart"
				select COMM_FORMAT_CUSTOM
				select COMM_UART
				select COMM_WIFI
			config HEALTH_TEMPRETURE
				bool "tempreture"
				select COMM_FORMAT_CUSTOM
				select COMM_UART
				select COMM_WIFI
		endif


    config HEALTH_NONE
        bool # "none"
endchoice
