if DEVICE_HEALTH
	config DEVICE_HEALTH_DISTANCE
		bool "distance"
		select COMM_FORMAT_PERSON
		select COMM_I2C
		select COMM_WIFI

	config DEVICE_HEALTH_RATE
		bool "rate"
		select COMM_FORMAT_PERSON
		select COMM_UART
		select COMM_WIFI

	config DEVICE_HEALTH_TEMPERATURE
		bool "temperature"
		select COMM_FORMAT_PERSON
		select COMM_UART
		select COMM_WIFI
endif
