if DEVICE_HEALTH
	menuconfig DEVICE_HEALTH_DISTANCE
		bool "distance"
		default y
		select COMM_FORMAT_PERSON
		select COMM_I2C
		select COMM_SLE
		select COMM_SLE_SERVER

		if DEVICE_HEALTH_DISTANCE
			config PIN_SCL
				int "SCL pin"
				default 0
			config PIN_SDA
				int "SDA pin"
				default 2
		endif

	config DEVICE_HEALTH_LAMP
		bool "lamp"
		default y
		select COMM_FORMAT_CTRL
		select COMM_SLE
		select COMM_SLE_SERVER

	config DEVICE_HEALTH_RATE
		bool "rate"
		default y
		select COMM_FORMAT_PERSON
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_SERVER

	config DEVICE_HEALTH_TEMPERATURE
		bool "temperature"
		default y
		select COMM_FORMAT_PERSON
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_SERVER
endif
