# device / health
choice
    prompt "device / health"
    depends on ENABLE_MAKER_DESKTOP_SAMPLE
    default DEVICE


    menuconfig DEVICE
        bool "device"
        select HEALTH_NONE
        orsource "./device/Kconfig"


    menuconfig HEALTH
        bool "health"
        select DEVICE_NONE
        orsource "./health/Kconfig"
endchoice




orsource "./comm/Kconfig"
