menu "communication"
	comment "数据格式"

	config COMM_FORMAT_CTRL
		bool "【控制指令】格式"
		depends on DEVICE_DYNAMIC_KNOB || DEVICE_HEALTH_LAMP || DEVICE_TRINITY_SOUND

	menuconfig COMM_FORMAT_HID
		bool "【HID】格式"
		depends on DEVICE_DYNAMIC_KNOB || DEVICE_KEYBOARD || DEVICE_KEYPAD || DEVICE_MOUSE || TEST_KEYTEST
		if COMM_FORMAT_HID
			choice
				prompt "HID 芯片"
				default COMM_FORMAT_HID_CH9329
				config COMM_FORMAT_HID_CH9329
					bool "通过【CH9329】芯片"
				# config COMM_FORMAT_HID_XXX
				# 	bool "通过【XXX】芯片"
			endchoice
		endif

	config COMM_FORMAT_PERSON
		bool "【个人数据】格式"
		depends on DEVICE_DYNAMIC || DEVICE_HEALTH



	comment "通讯方式"

	config COMM_I2C
		bool "【I2C】方式"
		depends on DEVICE_HEALTH

	config COMM_I2S
		bool "【I2S】方式"
		depends on DEVICE_TRINITY_SOUND # || TEST_TMP

	config COMM_SPI
		bool "【SPI】方式"
		depends on DEVICE_KEYBOARD || DEVICE_KEYPAD || TEST_KEYTEST

	config COMM_UART
		bool "【UART】方式"
		depends on !TEST_TMP

	menuconfig COMM_SLE
		bool "【SLE】方式"
		# depends on !TEST_TMPTEST		// # tmp!!!
		if COMM_SLE
			config COMM_SLE_CLIENT
				bool "【client】模式"
				depends on DEVICE_RECEIVER
			config COMM_SLE_SERVER
				bool "【server】模式"
				depends on !DEVICE_RECEIVER
		endif

	config COMM_WIFI
		bool "【WIFI】方式"
		depends on DEVICE_RECEIVER
endmenu
