if DEVICE_DESKAIDE
	config DEVICE_DESKAIDE_ASRPRO
		bool "asrpro"
		default y
		select COMM_FORMAT_CTRL
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_SERVER

	config DEVICE_DESKAIDE_SOUND
		bool "sound"
		default y
		select COMM_FORMAT_CTRL
		select COMM_SLE
		select COMM_SLE_SERVER

	config DEVICE_DESKAIDE_USBHUB
		bool "usbhub"
		default y
		select COMM_UART

	config DEVICE_DESKAIDE_VFD
		bool "vfd"
		default y
		select COMM_FORMAT_CTRL
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_SERVER
endif
