if DEVICE_DYNAMIC
	config DEVICE_DYNAMIC_FINGERPRINT
		bool "fingerprint"
		select COMM_FORMAT_PERSON
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_SERVER

	config DEVICE_DYNAMIC_KNOB
		bool "knob"
		select COMM_FORMAT_CTRL
		select COMM_FORMAT_HID
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_SERVER

	config DEVICE_DYNAMIC_NFC
		bool "nfc"
		select COMM_FORMAT_PERSON
		select COMM_UART
		select COMM_SLE
		select COMM_SLE_SERVER
endif
