orsource "./comm/Kconfig"





choice
    prompt "device / test"
    depends on ENABLE_MAKER_DESKTOP_SAMPLE
    default TEST

    config DEVICE
        bool "device"
        orsource "./device/Kconfig"

    config TEST
        bool "test"
        orsource "./test/Kconfig"
endchoice
